absl_py==2.1.0+computecanada
addict==2.4.0+computecanada
attrs==25.1.0+computecanada
blinker==1.9.0+computecanada
certifi==2025.1.31+computecanada
charset_normalizer==3.4.1+computecanada
click==8.1.8+computecanada
comet_ml==3.47.1+computecanada
ConfigArgParse==1.7+computecanada
configobj==5.0.9+computecanada
./requirements/others/contourpy
dash==2.15.0+computecanada
dash_core_components==2.0.0+computecanada
dash_html_components==2.0.0+computecanada
dash_table==5.0.0+computecanada
dill==0.3.9+computecanada
dulwich==0.22.7+computecanada
everett==3.1.0+computecanada
fastjsonschema==2.21.1+computecanada
flask==3.0.3+computecanada
fsspec==2025.2.0+computecanada
grpcio==1.67.0+computecanada
idna==3.10+computecanada
imageio==2.37.0+computecanada
ipywidgets==8.1.5+computecanada
itsdangerous==2.2.0+computecanada
jinja2==3.1.5+computecanada
joblib==1.4.2+computecanada
jsonschema==4.23.0+computecanada
jsonschema_specifications==2024.10.1+computecanada
jupyterlab_widgets==3.0.13+computecanada
lit==18.1.8
lpips==0.1.4+computecanada
Markdown==3.7+computecanada
markdown_it_py==3.0.0+computecanada
MarkupSafe==2.1.5+computecanada
mdurl==0.1.2+computecanada
meson==1.7.0+computecanada
meson_python==0.17.1+computecanada
mpmath==1.3.0+computecanada
nbformat==5.10.4+computecanada
networkx==3.4.2+computecanada
numpy==1.26.4+computecanada
open3d==0.18.0+computecanada
opencv-python==4.11.0.86
packaging==24.2+computecanada
pandas==2.2.3+computecanada
Pillow_SIMD==9.5.0.post2+computecanada
plotly==5.24.1+computecanada
protobuf==5.29.3+computecanada
psutil==6.1.1+computecanada
pygments==2.19.1+computecanada
pyproject_metadata==0.9.0+computecanada
pyquaternion==0.9.9+computecanada
python_box==6.1.0+computecanada
./requirements/others/pytorch-fid
PyYAML==6.0.2+computecanada
./requirements/others/ray-2.31.0-cp310-cp310-linux_x86_64.whl
referencing==0.36.2+computecanada
requests==2.32.3+computecanada
requests_toolbelt==1.0.0+computecanada
retrying==1.3.4+computecanada
rich==13.9.4+computecanada
rpds_py==0.20.0+computecanada
scikit_learn==1.5.2+computecanada
scipy==1.15.1+computecanada
semantic_version==2.10.0+computecanada
sentry_sdk==2.20.0+computecanada
simplejson==3.19.3+computecanada
six==1.17.0+computecanada
./requirements/others/smplx
sympy==1.13.1+computecanada
tenacity==9.0.0+computecanada
tensorboard==2.18.0+computecanada
tensorboard_data_server==0.7.2+computecanada
threadpoolctl==3.5.0+computecanada
tomli==2.2.1+computecanada
./requirements/others/torch-2.0.1+cu118-cp310-cp310-linux_x86_64.whl
./requirements/others/torchaudio-2.0.2+cu118-cp310-cp310-linux_x86_64.whl
./requirements/others/torchvision-0.15.2+cu118-cp310-cp310-linux_x86_64.whl
tqdm==4.67.1+computecanada
trimesh==4.5.3+computecanada
triton==2.0.0+computecanada
typing_extensions==4.12.2+computecanada
urllib3==2.3.0+computecanada
werkzeug==3.0.6+computecanada
widgetsnbextension==4.0.13+computecanada
wrapt==1.17.2+computecanada
wurlitzer==3.1.1+computecanada
yacs==0.1.8+computecanada